.footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
    position: static;
    bottom: 0;
    width: 100%;
  }
  
  .footer .social-media a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  .footer .social-media a:hover {
    text-decoration: underline;
  }
  