/* Home container styling */
.home-container {
  display: flex;
  flex-direction: row; /* Arrange children in a row */
  align-items: center;
  padding: 20px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  perspective: 1000px;
  background-color: var(--background);
  color: var(--text-color);
}

/* Parallax background */
.parallax-bg {
  position: fixed; /* Fixed positioning for parallax effect */
  top: 0;
  left: 0;
  width: 100%; /* Full width of the viewport */
  height: 100%; /* Full height of the viewport */
  background-size: cover;
  background-attachment: fixed; /* Keep background fixed relative to viewport */
  transform: translateZ(-1px) scale(1.5); /* Adjust scale for larger background */
  z-index: -2;
}

/* Image and text container styling */
.image-text-container {
  display: flex;
  flex-direction: row; /* Align image and text side by side */
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  width: 100%; /* Full width of the container */
  max-width: 1200px; /* Optional: limit the width for larger screens */
}

/* Image container styling */
.image-container {
  display: flex;
  flex-direction: column; /* Stack background and image vertically */
  justify-content: center;
  align-items: center;
  width: 25%; /* Take up a smaller portion of the container width */
  position: relative;
  margin-right: 20px; /* Space between image and text */
}

.image-background {
  width: 120%;
  height: 120%;
  background-color: white;
  position: absolute;
  top: -10%;
  left: -10%;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.home-image {
  max-width: 80%; /* Adjust size as needed */
  height: auto;
  transition: transform 0.5s ease, filter 0.5s ease;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
  filter: blur(10px);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.text-container {
  flex: 1;
  text-align: left; /* Align text to the left */
  padding: 20px;
  color: var(--secondary-text-color);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
  animation: slideInFromLeft 2s ease-out; /* Apply slide-in animation from left */
}

/* Heading and paragraph styling */
.text-container h1, .text-container p {
  margin: 10px 0;
  opacity: 0;
  animation: textFadeIn 1.5s ease forwards;
}

.text-container h1 {
  animation-delay: 0.5s;
  font-size: 2.5em;
  letter-spacing: 2px;
  font-weight: bold;
  color: var(--text-color);
}

.text-container p:nth-child(2) {
  animation-delay: 1s;
  font-size: 1.5em;
  color: var(--text-color);
}

.text-container p:nth-child(3) {
  animation-delay: 1.5s;
  font-size: 1.3em;
  color: var(--text-color);
}

.text-container p:nth-child(4) {
  animation-delay: 2s;
  font-size: 1.2em;
  color: var(--text-color);
}

.text-container p {
  font-size: 1.2em;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.home-image:hover {
  transform: scale(1.05);
}

.text-container h1:hover, .text-container p:hover {
  color: #2d2d2d; /* Change color on hover */
}

/* Animations */
@keyframes textFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); /* Start from the left outside the screen */
  }
  100% {
    transform: translateX(0); /* End at the normal position */
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .image-text-container {
    flex-direction: column; /* Stack image and text vertically on small screens */
    text-align: center; /* Center text horizontally on small screens */
  }

  .image-container {
    margin-right: 0; /* Remove margin on small screens */
    width: 100%; /* Full width on small screens */
  }

  .home-image {
    max-width: 80%; /* Ensure the image fits better on small screens */
  }

  .text-container {
    width: 100%; /* Full width on small screens */
    padding: 10px; /* Adjust padding on small screens */
    position: static;
  }
}

/* Dark mode adjustments */
@media (prefers-color-scheme: dark) {
  .text-container h1, .text-container p {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 0.8);
  }
}
